<div class="jumbotron">
  <h1 class="text-center">Welcome to Tech bloggers</h1>
  <div class="col-md-4 col-md-offset-4">
   <%= link_to "View Articles" , articles_path, class: "btn btn-primary btn-block"
   %>
  </div>
</div>